body{
    padding:0px;
    margin:0px;
    padding-top: 70px;
}

canvas{
    margin: auto;
    display: block;
    margin-top: 15px;
}

.loadingDiv{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 0%;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position:center;
    z-index:10000000;  opacity: 0.4;
filter: alpha(opacity=40);
}

#imgHelp{
    margin: 0 auto;
    margin-top: 4px;
    display: block;
    height: 30px;
    width: auto;
}

.tab-pane{
    margin: 20px;
}